
.navbar-default,footer,h1 {
    background-color: #ba0000;
    border-color: none;
    background-image:linear-gradient(to top, #FFFFFF -80%, #ba0000);
    text-align:center;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand 
{
    color:white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus 
{
    background-color: #7c0000;
    color: white;
}

.navbar-nav > li {
    float: left;
    padding-left: 50px;
}
.navbar-default .navbar-nav > .dropdown > a .caret, .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret  {
    border-bottom-color: white;
    border-top-color: white;
}

.navbar-nav > li > .dropdown-menu {
    width: 100%;
     background-color: #ba0000;
     color:white;
}

.navbar-nav > li.dropdown:hover > .dropdown-menu{display:block}

.dividir{
    border-bottom:2px solid #7c0000;
    margin-bottom:20px;
}
h1,footer{
    min-height:30px;
    color:white;
    padding:10px;
}
h1{    font-size:18px;
    font-weight:bold;
margin:0px;}
.precio
{
    color:red;
}
footer{
    text-align:center;
    margin-top:20px;
}
footer a{
    color:white;
    margin-top:30px;
}

.dropdown-menu > li > a {
    color: white;
}
.dropdown-menu-up{
    bottom:100%;
}